<h1>Créer un compte</h1>

<%= form_for @user, :html => {:class => 'container'} do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p id="notice"><%= flash[:notice] %></p>
  <div class="field mt-4">
    <%= f.text_field :first_name, placeholder: "Prénom" %>
  </div>
  <div class="field mt-4">
    <%= f.text_field :last_name, placeholder: "Nom de famille" %>
  </div>
  <div class="field mt-4">
    <%= f.text_field :email, placeholder: "Email" %>
  </div>
  <div class="field mt-4">
    <%= f.password_field :password, placeholder: "Mot de passe" %>
  </div>
  <div class="field mt-4">
    <%= f.password_field :password_confirmation, placeholder: "Confirmer le mot de passe" %>
  </div>
  <div class="field mt-4">
    <%= f.text_field :rna, placeholder: "Numéro RNA" %>
  </div>
    <div class="field mt-4">
    <%= f.text_field :asso_name, placeholder: "Nom de l'association" %>
  </div>
  <div class="actions mt-4"><%= f.submit "Créer un compte", class: "btn btn-primary" %></div>
<% end %>